<a href="https://colab.research.google.com/github/Shivayogi-A/Pyspark_programming/blob/master/Pyspark_split_and_Join_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()

# create a spark session

from pyspark.sql import SparkSession
spark =SparkSession.builder\
       .appName("Split_fnuction")\
       .getOrCreate()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Ign:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:7 https://r2u.stat.illinois.edu/ubuntu jammy Release
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 261 kB in 3s (96.8 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
sample_data		   spark-3.1.1-bin-hadoop3.2.tgz
spark-3.1.1-bin-hadoop3.2  spark-3.1.1-bin-hadoop3.2.tgz.1

**PySpark split() Column into Multiple Columns**\
pyspark.sql.functions provides a function split() to split DataFrame string Column into multiple columns.\

We can split Dataframe single column into multiple columns using withColumn() and select()

In [19]:
# Syntax for split() function
# first we have to import the split function,

from pyspark.sql.functions import split

#syntax
pyspark.sql.functions.split(str, pattern, limit=-1)

NameError: name 'pattern' is not defined

Parameters:

* **str** – a string expression to split.
* **pattern** – a string representing a regular expression.
* **limit** –an integer that controls the number of times pattern is applied.

Note:  Spark 3.0 split() function takes an optional limit field. If not provided, the default limit value is -1.

In [ ]:
#Example:

info = [('James','','Smith','1991-04-01'),
  ('Michael','Rose','','2000-05-19'),
  ('Robert','','Williams','1978-09-05'),
  ('Maria','Anne','Jones','1967-12-01'),
  ('Jen','Mary','Brown','1980-02-17')
]

columns=["firstname","middlename","lastname","dob"]

empDF = spark.createDataFrame(data = info, schema = columns)
empDF.show()

Now we shall split the **dob** column to 3 seperale columns displaying year, month and date usning the split function in 2 ways.

In [ ]:
df = empDF.withColumn("Year", split(empDF["dob"], '-').getItem(0))\
          .withColumn("month", split(empDF["dob"], '-').getItem(1))\
          .withColumn("day", split(empDF["dob"], '-').getItem(2))
df.show()

Alternatively, you can do like below by creating a function variable and reusing it.

In [ ]:
import pyspark

split_col = pyspark.sql.functions.split(empDF['dob'],'-')

new_df = empDF.withColumn("Year", split_col.getItem(0))\
              .withColumn("Month", split_col.getItem(1))\
              .withColumn("Day", split_col.getItem(2))

new_df.show()

This also results in the same output as above.

**Split Column using Select().**

In [ ]:
# split() with select()
split_col = pyspark.sql.functions.split(df['dob'], '-')
df3 = df.select("firstname","middlename","lastname","dob", split_col.getItem(0).alias('year'),
                split_col.getItem(1).alias('month'),
                split_col.getItem(2).alias('day'))
df3.show(truncate=False)

This also results in same output as above.

**Join function in pyspark**

It is a python function that returns a string by joining all the elements of an iterable object such as list, tuple, etc, seperated by a string seperator.

**Note:** This join function is different from the sql joins, the utility and functionality is completely different.

In [ ]:
#syntax of Join function

# string_seperator.join(iterable data)

* string_seperator: The sperator string using which the iterable items are joined
* join: keyword of join function
* iterable data: data such as list or tuple which can be iterated for joining.

In [ ]:
column_list = empDF.columns
print(column_list)

In [ ]:
joined_string = ','.join(column_list)
print(joined_string)